*{
    margin: 0;
    padding: 0;
}
.space{
    display: flex;
    height: 124px;
    background: #181818;
    box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.06);
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    .num{   
        width: 350px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        button{
            display: inline-flex;
            padding: 12px 20px;
            align-items: flex-start;
            gap: 10px;
            border-radius: 8px;
            border: 2px solid #3C3C3C;
            background: transparent;
                a{
                    color: var(--white, #FFF);
                    font-family: PP Pangram Sans;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 20px; /* 153.846% */
                }
            
        }
    }
}
.ar{
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 60px;
    }
.nav{
    display: flex;
    align-items: flex-start;
    gap: 50px;
    color: var(--white, #FFF);
    font-family: PP Pangram Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 146.667% */
    }
.numb{
    color: var(--white, #FFF);
    font-family: Unbounded;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 111.111% */
}